.maindiv{
    display: flex;
    justify-content: flex-start;
    flex-wrap: fl;
    flex-wrap: wrap;
}

mat-form-field{
    width: 307px;

    margin: 5px;
}

.header{
    text-align: center;
    font-weight: 500;
    background-color: blanchedalmond;
}

.mat-mdc-dialog-actions {
    justify-content: center;
}

.imgCss {
    display: flex;
    align-items: center; /* Align items vertically in the center */
  }
  
  
  
img {
    max-width: 100px;
    max-height: 100px;
  }